.mpx-typography-headlin-1 {
	font-family: var(--mpx-font-roboto-mono);
	font-size: 96;
}
.mpx-typography-headline-2 {
	font-family: var(--mpx-font-roboto-mono);
	font-size: 60;
}
.mpx-typography-headline-3 {
	font-family: var(--mpx-font-roboto-mono);
	font-size: 48;
}
.mpx-typography-headline-4 {
	font-family: var(--mpx-font-roboto-mono);
	font-size: 34;
}
.mpx-typography-headline-5 {
	font-family: var(--mpx-font-roboto-mono);
	font-size: 24;
}
.mpx-typography-headline-6 {
	font-family: var(--mpx-font-roboto-mono);
	font-size: 20;
}
.mpx-typography-body-1 {
	font-family: var(--mpx-font-google-sans);
	font-size: 17;
}
.mpx-typography-body-2 {
	font-family: var(--mpx-font-google-sans);
	font-size: 15;
}
.mpx-typography-subtitle-1 {
	font-family: var(--mpx-font-roboto-mono);
	font-size: 16;
}
.mpx-typography-subtitle-2 {
	font-family: var(--mpx-font-roboto-mono);
	font-size: 14;
}
.mpx-typography-button {
	font-family: var(--mpx-font-google-sans);
	font-size: 15;
}
.mpx-typography-overline {
	font-family: var(--mpx-font-google-sans);
	font-size: 10;
}
.mpx-typography-caption {
	font-family: var(--mpx-font-google-sans);
	font-size: 13;
}
