:root {
	--mpx-default: var(--mpx-font-google-sans);
	--mpx-geist-mono: 'Geist mono';
	--mpx-roboto-mono: 'Roboto mono';
	--mpx-fira-mono: 'Fira Mono';
	--mpx-jet-brains-mono: 'JetBrains Mono';
	--mpx-ibm-plex-mono: 'IBM Plex Mono';
	--mpx-geist: 'Geist';
	--mpx-roboto: 'Roboto';
	--mpx-fira-code: 'Fira Code';
	--mpx-google-sans: 'Google Sans';
	--mpx-noto-sans: 'Noto Sans';
	--mpx-ubuntu: 'Ubuntu';
	--mpx-montserrat: 'Mont Serrat';
	--mpx-anybody: 'Anybody';

	--mpx-bold-200: var(--font-weight-extralight);
	--mpx-bold-300: var(--font-weight-light);
	--mpx-bold-400: var(--font-weight-normal);
	--mpx-bold-500: var(--font-weight-medium);
	--mpx-bold-600: var(--font-weight-semibold);
	--mpx-bold-700: var(--font-weight-bold);
	--mpx-bold-800: var(--font-weight-extrabold);

	--mpx-leading-xs: var(--leading-[-0.6]);
	--mpx-leading-sm: var(--leading-none);
	--mpx-leading-md: var(--leading-[1.55]);
	--mpx-leading-lx: var(--leading-[1.655]);
	--mpx-leading-xl: var(--leading-[1.8]);

	--mpx-tracking-xs: var(--tracking-tighter);
	--mpx-tracking-sm: var(--tracking-tight);
	--mpx-tracking-md: var(--tracking-normal);
	--mpx-tracking-lx: var(--tracking-wide);
	--mpx-tracking-xl: var(--tracking-widest);

	--mpx-label-sm: var(--mpx-bold-400) var(--text-sm) var(--mpx-font-default);
	--mpx-label-sm-bold: var(--mpx-bold-400);
	--mpx-label-sm-size: var(--text-sm);
	--mpx-label-sm-height: var(--text-sm-line-height);
	--mpx-label-sm-tracking: var(--tracking-normal);

	--mpx-label-md: var(--mpx-bold-600) var(--text-base) var(--mpx-font-default);
	--mpx-label-md-bold: var(--mpx-bold-600);
	--mpx-label-md-size: var(--text-base);
	--mpx-label-md-height: var(--text-base-line-height);
	--mpx-label-md-tracking: var(--tracking-wide);

	--mpx-label-lg: var(--mpx-bold-700) var(--text-lg) / var(--text-base) var(--mpx-font-default);
	--mpx-label-lg-bold: var(--mpx-bold-700);
	--mpx-label-lg-size: var(--text-lg);
	--mpx-label-lg-height: var(--text-lg-line-height);
	--mpx-label-lg-tracking: var(--tracking-wider);

	--mpx-title-sm: var(--mpx-bold-500) var(--text-base) var(--mpx-font-default);
	--mpx-title-sm-bold: var(--mpx-bold-500);
	--mpx-title-sm-size: var(--text-base);
	--mpx-title-sm-height: var(--text-base-line-height);
	--mpx-title-sm-tracking: var(--tracking-normal);

	--mpx-title-md: var(--mpx-bold-600) var(--text-lg) var(--mpx-font-default);
	--mpx-title-md-bold: var(--mpx-bold-600);
	--mpx-title-md-size: var(--text-lg);
	--mpx-title-md-height: var(--text-lg-line-height);
	--mpx-title-md-tracking: var(--tracking-wide);

	--mpx-title-lg: var(--mpx-bold-700) var(--text-2xl) var(--mpx-font-default);
	--mpx-title-lg-bold: var(--mpx-bold-700);
	--mpx-title-lg-size: var(--text-2xl);
	--mpx-title-lg-height: var(--text-2xl-line-height);
	--mpx-title-lg-tracking: var(--tracking-wider);

	--mpx-body-sm: var(--mpx-bold-500) var(--text-sm) var(--mpx-font-default);
	--mpx-body-sm-bold: var(--mpx-bold-500);
	--mpx-body-sm-size: var(--text-sm);
	--mpx-body-sm-height: var(--text-xs-line-height);
	--mpx-body-sm-tracking: var(-tracking-tight);

	--mpx-body-md: var(--mpx-bold-600) var(--text-base) var(--mpx-font-default);
	--mpx-body-md-bold: var(--mpx-bold-600);
	--mpx-body-md-size: var(--text-base);
	--mpx-body-md-height: var(--text-xs-line-height);
	--mpx-body-md-tracking: var(--tracking-normal);

	--mpx-body-lg: var(--mpx-bold-700) var(--text-lg) var(--mpx-font-default);
	--mpx-body-lg-bold: var(--mpx-bold-700);
	--mpx-body-lg-size: var(--text-lg);
	--mpx-body-lg-height: var(--text-lg-line-height);
	--mpx-body-lg-tracking: var(--tracking-wider);

	--mpx-display-sm: var(--mpx-bold-500) var(--text-lg) var(--mpx-font-default);
	--mpx-display-sm-bold: var(--mpx-bold-500);
	--mpx-display-sm-size: var(--text-lg);
	--mpx-display-sm-height: var(--text-lg-line-height);
	--mpx-display-sm-tracking: var(--tracking-normal);

	--mpx-display-md: var(--mpx-bold-700) var(--text-xl) var(--mpx-font-default);
	--mpx-display-md-bold: var(--mpx-bold-700);
	--mpx-display-md-size: var(--text-xl);
	--mpx-display-md-height: var(--text-xl-line-height);
	--mpx-display-md-tracking: var(--tracking-wide);

	--mpx-display-lg: var(--mpx-bold-800) var(--text-2xl) var(--mpx-font-default);
	--mpx-display-lg-bold: var(--mpx-bold-800);
	--mpx-display-lg-size: var(--text-2xl);
	--mpx-display-lg-height: var(--text-xl-line-height);
	--mpx-display-lg-tracking: var(--tracking-wider);

	--mpx-headline-sm: var(--mpx-bold-500) var(--text-base) var(--mpx-font-default);
	--mpx-headline-sm-bold: var(--mpx-bold-500);
	--mpx-headline-sm-size: var(--text-base);
	--mpx-headline-sm-height: var(--text-base-line-height);
	--mpx-headline-sm-tracking: var(--tracking-normal);

	--mpx-headline-md: var(--mpx-bold-600) var(--text-xl) var(--mpx-font-default);
	--mpx-headline-md-bold: var(--mpx-bold-600);
	--mpx-headline-md-size: var(--text-xl);
	--mpx-headline-md-height: var(--text-xl-line-height);
	--mpx-headline-md-tracking: var(--tracking-wide);

	--mpx-headline-lg: var(--mpx-bold-600) var(--text-2xl) var(--mpx-font-default);
	--mpx-headline-lg-bold: var(--mpx-bold-600);
	--mpx-headline-lg-size: var(--text-2xl);
	--mpx-headline-lg-height: var(--text-xl-line-height);
	--mpx-headline-lg-tracking: var(--tracking-wider);
}
