@utility mpx-label-small {
	font-size: var(--mpx-label-sm-size);
	font-family: var(--mpx-font-montserra-alt);
}

@utility mpx-label-medium {
	font-size: var(--mpx-label-md-size);
	font-family: var(--mpx-font-montserra-alt);
}

@utility mpx-label-large {
	font: var(--mpx-label-lg);
}
