:root {
    /** PRIMARY COLOR **/
    --bg-primary-container-low: light-dark(var(--color-sky-50), var(--color-sky-200));
    --bg-primary-container: light-dark(var(--color-sky-100), var(--color-sky-100));
    --bg-primary-container-height: light-dark(var(--color-sky-200), var(--color-sky-300));
    --bg-primary-container-inverse: light-dark(var(--color-sky-600), var(--color-sky-50));

    --text-primary-low: light-dark(var(--color-sky-950), var(--color-sky-950));
    --text-primary: light-dark(var(--color-sky-900), var(--color-sky-900));
    --text-primary-inverse: light-dark(var(--color-sky-200), var(--color-sky-900));

    --border-low: light-dark(var(--color-blue-300), var(--color-blue-400));
    --border-inverse: light-dark(var(--color-blue-100), var(--color-blue-600));

    --border-low: light-dark(var(--color-blue-300), var(--color-blue-400));
    --border-inverse: light-dark(var(--color-blue-100), var(--color-blue-600));
}
