:root {
    --font-default: var(--font-mont-serra);
    --font-mont-serra: 'Mont Serra';
    --font-mont-serra-headline: 'Mont Serra Headline';
    --font-mont-serra-display: 'Mont Serra Display';
    --font-geist: 'Geist Mono';
    --font-geist-mono: 'Geist Mono';
    --font-rubick: 'Rubick';
    --font-roboto: 'Roboto';
    --font-roboto-mono: 'Roboto Mono';

    --text-label-sm: var(--text-sm);
    --font-label-sm: var(--font-weight-normal) var(--text-sm) var(--font-default);
    --font-weight-label-sm: var(--font-weight-normal);
    --font-leading-label-sm: var(--text-sm-line-height);
    --font-tracking-label-sm: var(--tracking-wide);

    --text-label-md: var(--text-base);
    --font-label-md: var(--font-weight-medium) var(--text-base) var(--font-default);
    --font-weight-label-md: var(--font-weight-medium);
    --font-leading-label-md: var(--text-base-line-height);
    --font-tracking-label-md: var(--tracking-wider);

    --text-label-lg: var(--text-lg);
    --font-label-lg: var(--font-weight-semibold) var(--text-lg) var(--font-default);
    --font-weight-label-lg: var(--font-weight-semibold);
    --font-leading-label-lg: var(--text-lg-line-height);
    --font-tracking-label-lg: var(--tracking-widest);

    --text-title-sm: var(--text-base);
    --font-title-sm: var(--font-weight-medium) var(--text-base) var(-font-mont-serra);
    --font-weight-title-sm: var(--font-weight-medium);
    --font-leading-title-sm: : var(--text-base-line-height);
    --font-tracking-title-sm: var(--tracking-normal);

    --text-title-md: var(--text-lg);
    --font-title-md: var(--font-weight-semibold) var(--text-lg) var(-font-mont-serra);
    --font-weight-title-md: var(--font-weight-semibold);
    --font-leading-title-md: var(--text-lg-line-height);
    --font-tracking-title-md: var(--tracking-wider);

    --text-title-lg: var(--text-xl);
    --font-title-lg: var(--font-weight-bold) var(--text-xl) var(-font-mont-serra);
    --font-weight-title-lg: var(--font-weight-bold);
    --font-leading-title-lg: var(--text-xl-line-height);
    --font-tracking-title-lg: var(--tracking-widest);

    --text-headline-sm: var(--text-base);
    --font-headline-sm: var(--font-weight-semibold) var(--text-md) var(font-mont-serra-headline);
    --font-weight-headline-sm: var(--font-weight-semibold);
    --font-leading-headline-sm: var(--text-md-line-height);
    --font-tracking-headline-sm: var(--tracking-wider);

    --text-headline-md: var(--text-xl);
    --font-headline-md: var(--font-weight-bold) var(--text-xl) var(font-mont-serra-headline);
    --font-weight-headline-md: var(--font-weight-bold);
    --font-leading-headline-md: var(--text-xl-line-height);
    --font-tracking-headline-md: var(--tracking-wider);

    --text-headline-lg: var(--text-2xl);
    --font-headline-lg: var(--font-weight-extrabold) var(--text-2xl) var(font-mont-serra-headline);
    --font-weight-headline-lg: var(--font-weight-extrabold);
    --font-leading-headline-lg: var(--text-2xl-line-height);
    --font-tracking-headline-lg: var(--tracking-widest);

    --text-display-sm: var(--text-base);
    --font-display-sm: var(--font-weight-semibold) var(--text-base) var(--font-mont-serra-display);
    --font-weight-display-sm: var(--font-weight-semibold);
    --font-leading-display-sm: var(--text-base-line-height);
    --font-tracking-display-sm: var(--tracking-normal);

    --text-display-md: var(--text-2xl);
    --font-display-md: var(--font-weight-bold) var(--text-2xl) var(--font-mont-serra-display);
    --font-weight-display-md: var(--font-weight-bold);
    --font-leading-display-md: var(--text-2xl-line-height);
    --font-tracking-display-md: var(--tracking-wider);

    --text-display-lg: var(--text-3xl);
    --font-display-lg: var(--font-weight-extrabold) var(--text-3xl) var(--font-mont-serra-display);
    --font-weight-display-lg: var(--font-weight-extrabold);
    --font-leading-display-lg: var(--text-3xl-line-height);
    --font-tracking-display-lg: var(--tracking-widest);
}
