@font-face {
    font-family: 'Mont Serra';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-BlackItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-ExtraBoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-ExtraLightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-SemiBoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/MontSerra/Montserrat-ThinItalic.otf') format('opentype');
}
