@font-face {
    font-family: 'Mont Serra Headline';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-BlackItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-ExtraBoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-ExtraLightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-SemiBoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Mont Serra Headline';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Mont_Serra_Headline/Montserrat-ThinItalic.otf') format('opentype');
}
