@theme {
    --font-mpx-default: var(--font-default);
    --font-mpx-mont-serra: var(--font-mont-serra);
    --font-mpx-mont-serra-headline: var(-font-mont-serra-headline);
    --font-mpx-mont-serra-display: var(--font-mont-serra-display);
    --font-mpx-geist: var(--font-geist);
    --font-mpx-geist-mono: var(--font-geist-mono);
    --font-mpx-rubick: var(--font-rubick);
    --font-mpx-roboto: var(--font-roboto);
    --font-mpx-roboto-mono: var(--font-roboto-mono);

    --text-mpx-sm-label: var(--text-label-sm);
    --font-mpx-sm-label: var(--font-label-sm);
    --font-weight-mpx-sm-label: var(--font-weight-label-sm);
    --font-leading-mpx-sm-label: var(--font-leading-label-sm);
    --font-tracking-mpx-sm-label: var(--font-tracking-label-sm);

    --text-mpx-md-label: var(--text-label-md);
    --font-mpx-md-label: var(--font-label-md);
    --font-weight-mpx-md-label: var(--font-weight-label-md);
    --font-leading-mpx-md-label: var(--font-leading-label-md);
    --font-tracking-mpx-md-label: var(--font-tracking-label-md);

    --text-mpx-lg-label: var(--text-label-lg);
    --font-mpx-lg-label: var(--font-label-lg);
    --font-weight-mpx-lg-label: var(--font-weight-label-lg);
    --font-leading-mpx-lg-label: var(--font-leading-label-lg);
    --font-tracking-mpx-lg-label: var(--font-tracking-label-lg);

    --text-mpx-sm-title: var(--text-title-sm);
    --font-mpx-sm-title: var(--font-title-sm);
    --font-weight-mpx-sm-title: var(--font-weight-title-sm);
    --font-leading-mpx-sm-title: var(--font-leading-title-sm);
    --font-tracking-mpx-sm-title: var(--font-tracking-title-sm);

    --text-mpx-md-title: var(--text-title-md);
    --font-mpx-md-title: var(--font-title-md);
    --font-weight-mpx-md-title: var(--font-weight-title-md);
    --font-leading-mpx-md-title: var(--font-leading-title-md);
    --font-tracking-mpx-md-title: var(--font-tracking-title-md);

    --text-mpx-lg-title: var(--text-title-lg);
    --font-mpx-lg-title: var(--font-title-lg);
    --font-weight-mpx-lg-title: var(--font-weight-title-lg);
    --font-leading-mpx-lg-title: var(--font-leading-title-lg);
    --font-tracking-mpx-lg-title: var(--font-tracking-title-lg);

    --text-mpx-sm-headline: var(--text-headline-sm);
    --font-mpx-sm-headline: var(--font-headline-sm);
    --font-weight-mpx-sm-headline: var(--font-weight-headline-sm);
    --font-leading-mpx-sm-headline: var(--font-leading-headline-sm);
    --font-tracking-mpx-sm-headline: var(--font-tracking-headline-sm);

    --text-mpx-md-headline: var(--text-headline-md);
    --font-mpx-md-headline: var(--font-headline-md);
    --font-weight-mpx-md-headline: var(--font-weight-headline-md);
    --font-leading-mpx-md-headline: var(--font-leading-headline-md);
    --font-tracking-mpx-md-headline: var(--font-tracking-headline-md);

    --text-mpx-lg-headline: var(--text-headline-lg);
    --font-mpx-lg-headline: var(--font-headline-lg);
    --font-weight-mpx-lg-headline: var(--font-weight-headline-lg);
    --font-leading-mpx-lg-headline: var(--font-leading-headline-lg);
    --font-tracking-mpx-lg-headline: var(--font-tracking-headline-lg);

    --text-mpx-sm-display: var(--text-display-sm);
    --font-mpx-sm-display: var(--font-display-sm);
    --font-weight-mpx-sm-display: var(--font-weight-display-sm);
    --font-leading-mpx-sm-display: var(--font-leading-display-sm);
    --font-tracking-mpx-sm-display: var(--font-tracking-display-sm);

    --text-mpx-md-display: var(--text-display-md);
    --font-mpx-md-display: var(--font-display-md);
    --font-weight-mpx-md-display: var(--font-weight-display-md);
    --font-leading-mpx-md-display: var(--font-leading-display-md);
    --font-tracking-mpx-md-display: var(--font-tracking-display-md);

    --text-mpx-lg-display: var(--text-display-lg);
    --font-mpx-lg-display: var(--font-display-lg);
    --font-weight-mpx-lg-display: var(--font-weight-display-lg);
    --font-leading-mpx-lg-display: var(--font-leading-display-lg);
    --font-tracking-mpx-lg-display: var(--font-tracking-display-lg);
}
