@font-face {
	font-family: 'Mont Serra Display';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-Black.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-BlackItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-ExtraBold.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-ExtraBoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-ExtraLight.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-ExtraLightItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-Italic.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-LightItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-MediumItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-SemiBold.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-SemiBoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-Thin.otf') format('opentype');
}

@font-face {
	font-family: 'Mont Serra Display';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url('/fonts/Mont_Serrat_Display/Montserrat-ThinItalic.otf') format('opentype');
}
