@theme {
	--text-mpx-label-small: var(--mpx-text-xs);
	--text-mpx-label-medium: var(--mpx-text-md);
	--text-mpx-label-large: var(--mpx-text-lg);
	--text-mpx-p-small: var(--mpx-text-sm);
	--text-mpx-p-medium: var(--mpx-text-md);
	--text-mpx-p-large: var(--mpx-text-lg);
	--text-mpx-body-small: var(--mpx-text-sm);
	--text-mpx-body-medium: var(--mpx-text-md);
	--text-mpx-body-large: var(--mpx-text-xl);
	--text-mpx-h1-small: var(--mpx-text-4xl);
	--text-mpx-h1-medium: var(--mpx-text-5xl);
	--text-mpx-h1-large: var(--mpx-text-6xl);
	--text-mpx-h2-small: var(--mpx-text-2xl);
	--text-mpx-h2-medium: var(--mpx-text-3xl);
	--text-mpx-h2-large: var(--mpx-text-4xl);
	--text-mpx-h3-small: var(--mpx-text-lg);
	--text-mpx-h3-medium: var(--mpx-text-xl);
	--text-mpx-h3-large: var(--mpx-text-2xl);

	--font-weight-mpx-label-light: var(--mpx-weight-500);
	--font-weight-mpx-label-medium: var(--mpx-weight-600);
	--font-weight-mpx-label-bold: var(--mpx-weight-700);
	--font-weight-mpx-p-light: var(--mpx-weight-300);
	--font-weight-mpx-p-medium: var(--mpx-weight-400);
	--font-weight-mpx-p-bold: var(--mpx-weight-600);
	--font-weight-mpx-body-light: var(--mpx-weight-300);
	--font-weight-mpx-body-medium: var(--mpx-weight-400);
	--font-weight-mpx-body-bold: var(--mpx-weight-500);
	--font-weight-mpx-h1-light: var(--mpx-weight-500);
	--font-weight-mpx-h1-medium: var(--mpx-weight-700);
	--font-weight-mpx-h1-bold: var(--mpx-weight-800);
	--font-weight-mpx-h2-light: var(--mpx-weight-500);
	--font-weight-mpx-h2-medium: var(--mpx-weight-600);
	--font-weight-mpx-h2-bold: var(--mpx-weight-700);
	--font-weight-mpx-h3-light: var(--mpx-weight-400);
	--font-weight-mpx-h3-medium: var(--mpx-weight-500);
	--font-weight-mpx-h3-bold: var(--mpx-weight-600);

	--leading-mpx-label-low: var(--mpx-leading-1);
	--leading-mpx-label-medium: var(--mpx-leading-12);
	--leading-mpx-label-height: var(--mpx-leading-13);
	--leading-mpx-p-low: var(--mpx-leading-11);
	--leading-mpx-p-medium: var(--mpx-leading-12);
	--leading-mpx-p-height: var(--mpx-leading-13);
	--leading-mpx-body-low: var(--mpx-leading-15);
	--leading-mpx-body-medium: var(--mpx-leading-16);
	--leading-mpx-body-height: var(--mpx-leading-17);
	--leading-mpx-h1-low: var(--mpx-leading-12);
	--leading-mpx-h1-medium: var(--mpx-leading-13);
	--leading-mpx-h1-height: var(--mpx-leading-14);
	--leading-mpx-h2-low: var(--mpx-leading-13);
	--leading-mpx-h2-medium: var(--mpx-leading-14);
	--leading-mpx-h2-height: var(--mpx-leading-15);
	--leading-mpx-h3-low: var(--mpx-leading-11);
	--leading-mpx-h3-medium: var(--mpx-leading-13);
	--leading-mpx-h3-height: var(--mpx-leading-14);

	--tracking-mpx-label-tight: var(--mpx-tracking-tight);
	--tracking-mpx-label-normal: var(--mpx-tracking-normal);
	--tracking-mpx-label-wide: var(--mpx-tracking-wide);
	--tracking-mpx-p-tight: var(--mpx-tracking-tighter);
	--tracking-mpx-p-normal: var(--mpx-tracking-normal);
	--tracking-mpx-p-wide: var(--mpx-tracking-wider);
	--tracking-mpx-body-tight: var(--mpx-tracking-tight);
	--tracking-mpx-body-normal: var(--mpx-tracking-normal);
	--tracking-mpx-body-wide: var(--mpx-tracking-wide);
	--tracking-mpx-h1-tight: var(--mpx-tracking-tight);
	--tracking-mpx-h1-normal: var(--mpx-tracking-normal);
	--tracking-mpx-h1-wide: var(--mpx-tracking-wide);
	--tracking-mpx-h2-tight: var(--mpx-tracking-tighter);
	--tracking-mpx-h2-normal: var(--mpx-tracking-normal);
	--tracking-mpx-h2-wide: var(--mpx-tracking-wide);
	--tracking-mpx-h3-tight: var(--mpx-tracking-wider);
	--tracking-mpx-h3-normal: var(--mpx-tracking-normal);
	--tracking-mpx-h3-wide: var(--mpx-tracking-wider);

	--font-mpx-label: var(--mpx-brand);
	--font-mpx-paragraph: var(--mpx-brand);
	--font-mpx-body: var(--mpx-plain);
	--font-mpx-h1: var(--mpx-plain);
	--font-mpx-h2: var(--mpx-plain);
	--font-mpx-h3: var(--mpx-brand);

	--shadow-mpx-1: 0 1px rgb(0 0 0 / 0.05);
	--shadow-mpx-2: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--shadow-mpx-3: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-mpx-4: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-mpx-5: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-mpx-6: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
	--shadow-mpx-7: 0 25px 50px -12px rgb(0 0 0 / 0.25);

	--inset-shadow-mpx-1: inset 0 1px rgb(0 0 0 / 0.05);
	--inset-shadow-mpx-2: inset 0 1px 1px rgb(0 0 0 / 0.05);
	--inset-shadow-mpx-3: inset 0 2px 4px rgb(0 0 0 / 0.05);

	--drop-shadow-mpx-1: 0 1px 1px rgb(0 0 0 / 0.05);
	--drop-shadow-mpx-2: 0 1px 2px rgb(0 0 0 / 0.15);
	--drop-shadow-mpx-3: 0 3px 3px rgb(0 0 0 / 0.12);
	--drop-shadow-mpx-4: 0 4px 4px rgb(0 0 0 / 0.15);
	--drop-shadow-mpx-5: 0 9px 7px rgb(0 0 0 / 0.1);
	--drop-shadow-mpx-6: 0 25px 25px rgb(0 0 0 / 0.15);

	--text-shadow-mpx-1: 0px 1px 0px rgb(0 0 0 / 0.15);
	--text-shadow-mpx-2: 0px 1px 1px rgb(0 0 0 / 0.2);
	--text-shadow-mpx-3: 0px 1px 0px rgb(0 0 0 / 0.075), 0px 1px 1px rgb(0 0 0 / 0.075), 0px 2px 2px rgb(0 0 0 / 0.075);
	--text-shadow-mpx-4: 0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1), 0px 2px 4px rgb(0 0 0 / 0.1);
	--text-shadow-mpx-5: 0px 1px 2px rgb(0 0 0 / 0.1), 0px 3px 2px rgb(0 0 0 / 0.1), 0px 4px 8px rgb(0 0 0 / 0.1);
}
