@theme {
	--color-mpx-outline: var(--color-slate-200);
	--color-mpx-background: var(--color-color-white);
	--color-mpx-on-background: var(--color-color-black);

	--color-mpx-primary: var(--color-sky-50);
	--color-mpx-primary-container: var(--color-sky-100);
	--color-mpx-primary-inverse: var(--color-sky-700);
	--color-mpx-secondary: var(--color-teal-50);
	--color-mpx-secondary-container: var(--color-teal-100);
	--color-mpx-tertiary: var(--color-purple-200);
	--color-mpx-tertiary-container: var(--color-purple-400);
	--color-mpx-surface: var(--color-zinc-100);
	--color-mpx-surface-tint: var(--color-color-black);
	--color-mpx-surface-variant: var(--color-zinc-100);
	--color-mpx-surface-inverse: var(--color-zinc-100);

	--color-mpx-on-primary: var(--color-sky-900);
	--color-mpx-on-primary-container: var(--color-sky-900);
	--color-mpx-on-primary-inverse: var(--color-sky-50);
	--color-mpx-on-secondary: var(--color-sky-900);
	--color-mpx-on-secondary-container: var(--color-sky-900);
	--color-mpx-on-tertiary: var(--color-sky-900);
	--color-mpx-on-tertiary-container: var(--color-sky-900);
	--color-mpx-on-surface: var(--color-color-black);
	--color-mpx-on-surface-tint: var(--color-color-black);
	--color-mpx-on-surface-variant: var(--color-zinc-100);
	--color-mpx-on-surface-inverse: var(--color-zinc-100);

	--color-mpx-info: var(--color-sky-50);
	--color-mpx-info-variant: var(--color-sky-300);
	--color-mpx-info-container: var(--color-sky-100);

	--color-mpx-on-info: var(--color-sky-900);
	--color-mpx-on-info-variant: var(--color-sky-50);
	--color-mpx-on-info-container: var(--color-sky-900);
	--color-mpx-info-outline: var(--color-slate-300);

	--color-mpx-warning: var(--color-amber-50);
	--color-mpx-warning-variant: var(--color-amber-300);
	--color-mpx-warning-container: var(--color-amber-100);

	--color-mpx-on-warning: var(--color-amber-900);
	--color-mpx-on-warning-variant: var(--color-amber-50);
	--color-mpx-on-warning-container: var(--color-amber-900);
	--color-mpx-warning-outline: var(--color-ywllow-600);

	--color-mpx-success: var(--color-green-50);
	--color-mpx-success-variant: var(--color-green-300);
	--color-mpx-success-container: var(--color-green-100);

	--color-mpx-on-success: var(--color-green-900);
	--color-mpx-on-success-variant: var(--color-green-50);
	--color-mpx-on-success-container: var(--color-green-900);
	--color-mpx-success-outline: var(--color-green-500);

	--color-mpx-error: var(--color-red-50);
	--color-mpx-error-variant: var(--color-red-300);
	--color-mpx-error-container: var(--color-red-100);

	--color-mpx-on-error: var(--color-red-900);
	--color-mpx-on-error-variant: var(--color-red-50);
	--color-mpx-on-error-container: var(--color-red-900);
	--color-mpx-error-outline: var(--color-red-600);
}
